@model int
@{
    ViewBag.Title = "Table";
}

<h2>Multiplication Table</h2>
@{var multi = 1;}
<table class="table table-bordered table-hover">
    @for (var i = 1; i <= Model; i++)
    {
        <tr>
            @for (var j = 1; j <= Model; j++)
            {
                var x = multi * j;
                <td> @x</td>
            }
        </tr>
        multi++;
    }
</table>